<!--{{> carousel}}-->

<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">It's simple</h1>
  <p class="lead">Spend no time and place order for most of your daily needs !</p>
  <hr class="my-4">
  <div class="container">
    <div class="row justify-content-center">
      <img src="../../public/Pictures/cash voucherson sale now.jpg" alt="steps" style="height:8rem;">
    </div>
  </div>
</div>
<!--user review section-->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="card w-75 text-center">
      <div class="card-header card-inverse card-success" style="font-size:1.25rem">
        Look, what people are saying about us !
      </div>
      <div class="card-block">
        <h6 class="card-title">Mr FirstName LastName</h6>
        <p class="card-text">Something nice about our work. :)</p>
        <a href="#" class="btn btn-primary btn-rev">more reviews</a>
      </div>
    </div>

  </div>

</div>
