
<link rel="stylesheet" href="../public/CSS/login.css">
<link rel="stylesheet" href="../public/CSS/bootstrap.css">
<div class="container">
	<div class="col-5 p" style="margin-left: 35%">

		<form class="form form-signin form-signin-heading form-control">
		<H2><div class="text-center">Create an Account</div></H2>
		<div class="form-group ">
			<label for="nameField"><strong>Name</strong></label>
			<input type="text" class="form-control"id="nameField"  placeholder="Your Name" />
		</div>
	<div class="form-group ">
	<label for="emailField"><storng>Email</strong></label>
	<input type="text" class="form-control" id="emailField" placeholder="Your Email" />
	</div>
	<div class="form-group ">
	<label for="phoneField"><strong>Contact Number</strong></label>
	<input type="text" class="form-control" id="phoneField" placeholder="Your Phone Number " />
</div>
	<div class="form-group ">
	<label for="password"><strong>New Password</strong></label>
	<input tyoe="password" class="form-control"  id="Password" placeholder="New Password" />
	</div>

		<div class="checkbox">
    <label>
      <input type="checkbox"><small> By SigningUp you agree to our <a href="">Terms</a> and <a href="">Privacy Policy</a></small></label>
    </label> 
</div>
	<input type="submit" class="btn btn-primary btn-lg  btn-block" value="Create" />
	</br>
	<input type="reset" class="  btn btn-primary btn-bock" value="Reset" style="margin-left: 38%"; />
	 
	</form>


