.footul
{
  font-size: 0.85rem;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 200px;
  max-width: 225px;
  float: left;
  color: #fff;
  font-family: sans-serif;
}
.disabled
{
  font-family: cursive;
  font-size: 1rem;
  font-variant-caps: small-caps;
}
