<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="../public/CSS/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="../public/CSS/bootstrap.css">

  <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
  integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"-->

</head>
<body>

  <!--loads the navigation partial-->
  {{> nav}}
  <div class="container-fluid">

    <div class="row">

      <div class="col-10 align-start">
        <!--the content will get replaced by the view loaded-->
        {{{content}}}
      </div>
      <div class="col align-end">
        <!--shopping cart, visible-->
        {{> cart}}
      </div>
    </div>
  </div>


  <br class="my-4">
  <!--loads the footer partial-->
  {{> footer}}

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../public/JS/bootstrap.js"></script>
</html>
