<div class="list-group col-sm-4" style="margin-left:25px;margin-top:40px">
  <a class="list-group-item disabled">
    HELP
  </a>
  <a href="#" class="list-group-item">Payment</a>
  <a href="#" class="list-group-item">Shipping</a>
  <a href="#" class="list-group-item">FAQ</a>
  <a href="#" class="list-group-item">NotListed Items</a>
</div>
<div class="list-group col-sm-4" style="margin-left:20px;margin-top:40px">
  <a class="list-group-item disabled">
    BRAND
  </a>
  <a href="#" class="list-group-item">About Us</a>
  <a href="#" class="list-group-item">Contact Us</a>
  <a href="#" class="list-group-item">Invest</a>
</div>
<div class="list-group col-sm-2" style="margin-right:20px;margin-top:40px;float:right">
  <a class="list-group-item disabled">
    MISC
  </a>
  <a href="#" class="list-group-item">Reviews</a>
  <a href="#" class="list-group-item">Contact Us</a>
  <a href="#" class="list-group-item">Invest</a>
</div>
