<link rel="stylesheet" href="../../public/CSS/nav.css">

<nav class="navbar navbar-toggleable-sm navbar-inverse bg-primary">

  <button class="navbar-toggler navbar-toggler-right" type="button"
    data-toggle="collapse" data-target=".navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="/">
    <img src="../../public/Pictures/Banner/sports_pic.jpg" width="30" height="30"
      class="d-inline-block align-top" alt="brandimage"/>
    BuyNary
  </a>

{{! below are navigation controls for categories}}
  <div class="navbar-collapse collapse navbarCollapse">
    <ul class="navbar-nav mr-auto">
      {{#each category}}
      <li class="nav-item">
        <a class="nav-link" href="{{this.ref}}">
          <i class="fa {{this.icon}}" aria-hidden="true" style="color:white"></i>{{this.link}}
        </a>
      </li>
      {{/each}}
    </ul>

{{! below are naavigation controls for user_account}}
    <!-- <ul class="navbar-nav ml-auto">
      {{#each list}}
      <li class="nav-item">
        <a class="nav-link" href="{{this.ref}}" data-toggle="tooltip" title="{{this.help}}">
          <i class="fa {{this.icon}} fa-2x" style="color:white"></i>
        </a>
      </li>
      {{/each}}
      <li class="nav-item hidden-md-up">
        <a href="/cart" class="nav-link" data-toggle="tooltip" title="My Cart">
          <i class="fa fa-shopping-basket" style="color:white"></i>
        </a>
      </li>
    </ul> -->
    <div class="btn-group" role="group">
      {{#each list}}
      <a type="button" class="btn btn-inverse bg-primary m-0" href="{{this.ref}}" data-toggle="tooltip" title="{{this.help}}">
        <i class="fa {{this.icon}} fa-2x" style="color:white"></i>
      </a>
      {{/each}}
    </div>
  </div>

</nav>
