<nav class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <button type="button" class="btn navbar-btn btn-lg">
        <span class="glyphicon glyphicon-pencil" style="color:black;background-color:violet" aria-hidden="false"></span>
        BuyNary
      </button>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="navbar-btn" href="/" role="button">
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
              </a>
            </li>
        <li>
          <a class="navbar-btn" href="/Cart" role="button">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            MyCart
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script type="text/javascript">
let category = {
  fruits,
  groccery,
  other
}
</script>
